<!-- Begin Footer
================================================== -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col order-first text-center">
        &copy; Copyright {{ .Site.Copyright }}
      </div>
      <div class="col text-center">
        <div>
          À propos
        </div>
        <div>
          <a rel="noopener" href="/contact">Nous contacter</a>
        </div>
      </div>
      <div class="col order-last text-center">
        <div>
          Liens utiles
        </div>
        <div>
          <a rel="noopener" href="/pages/plan-site">Plan du site</a>
        </div>
        <div>
          <a rel="noopener" href="/pages/informations-legales-editoriales">Mentions légales</a>
        </div>
        <div>
          <a rel="noopener" href="/pages/donnees-personnelles">Données personnelles</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer
================================================== -->
